# Pandas
Pandas is a high level data structure built on Numpy, and make it easy to use in NumPy centric applications.

## Series
A Series is a one-dimensional array-like object with associated array of data labels.

In [8]:
# Load array from list
from pandas import Series, DataFrame
import pandas as pd
series = Series([4, 7, -5, 3])
print("series = ", series)
print("series.index = ", list(series.index))
print("series.values = ", series.values)

series = Series([4, 7, -5, 3], index= ['a', 'b', 'c', 'd'])
print("series with new indexes = ", series)
print("series[[a , c]] = ", series[['a' , 'c']])

series =  0    4
1    7
2   -5
3    3
dtype: int64
series.index =  [0, 1, 2, 3]
series.values =  [ 4  7 -5  3]
series with new indexes =  a    4
b    7
c   -5
d    3
dtype: int64
series[[a , c]] =  a    4
c   -5
dtype: int64

#### Convert dictionary to series

In [14]:
from pandas import Series, DataFrame
import pandas as pd
data = {'Ohio':35000, 'Texas': 71000, 'Oregon': 16000, 'Utah' : 5000}
series = Series(data)
print("series = ", series)
states = ['California', 'Ohio', 'Oregon', 'Texas']
slices = Series(data, index = states)
print("slices = ", slices)
print("pd.isnull(slices):", pd.isnull(slices))
print("pd.notnull(slices):", pd.notnull(slices))
print("series + slices = ", series + slices)

series =  Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
slices =  California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
pd.isnull(slices): California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
pd.notnull(slices): California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool
series + slices =  California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [2]:
from pandas import Series, DataFrame
import pandas as pd
data = {'Ohio':35000, 'Texas': 71000, 'Oregon': 16000, 'Utah' : 5000}
series = Series(data)
series.name = 'population'
series.index.name = 'state'
print("series = ", series)

series =  state
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
Name: population, dtype: int64

## DataFrame 
A DataFrame is a tabular, row-column data structure. It contains a collection of columns and a list of rows. The DataFrame support both row and column wise index.

#### DataFrame Constructor
| Type | Notes |
| --- | --- |
| 2D ndarray | A matrix of data, passing optional row and column labels |
| dict of arrays, list, or tuples | Each sequence becomes a column in the DataFrame. All Sequences must be the same length. |
| NumPy structured array | Treated as the 'dict of arrays' case |
| dict of Series | Each value becomes a column. Indexes from each Series are unioned together to from the result's row index if no explicit index is passed. |
| list of dicts or Series | Each item becomes a row in the DataFrame. Union of dict keys or Series indexes become the DataFrame's column labels |
| List of lists or tuples | Treated as the '2D ndarray' case
| Another DataFrame | The DataFrame's indexes are used unless different ones are passed |
| NumPy MaskedArray | Like the '2D ndarray' case except masked values become NA in the DataFrame result |

In [23]:
from pandas import Series, DataFrame
import pandas as pd
data = {'state' : ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year' : [2000, 2001, 2002, 2001, 2002],
        'pop' : [1.5, 1.7, 3.6, 2.4, 2.9]
        }
frame = DataFrame(data)
print("frame = ", frame)

# reorder columns
frame1 = DataFrame(data, columns = ['year', 'state', 'pop'])
frame1.index = ['one', 'two', 'three', 'four', 'five']
print("frame1 = ", frame1)
print("frame1.loc['three'] = ", frame1.loc['three'])

frame =      state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
frame1 =         year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9
frame1.loc['three'] =  year     2002
state    Ohio
pop       3.6
Name: three, dtype: object

In [158]:
from pandas import Series, DataFrame
import pandas as pd
data = {
    'Nevada' : {2001 : 2.4, 2002 : 2.9},
    'Ohio' : {2000 : 1.5, 2001 : 1.7, 2002 : 3.6}
    }
frame = DataFrame(data)
print("frame = ", frame)
print("frame.T = ", frame.T)

frame1 = DataFrame(data, index=[2001, 2002, 2003])
frame1.index.name = 'year'
frame1.columns.name = 'state'
print("frame1 = ", frame1)

frame2 = DataFrame({'Ohio' : frame['Ohio'][:1],
                    'Nevada' : frame['Nevada'][:2]})
print("frame2 = ", frame2)

frame =        Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
frame.T =          2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5
frame1 =  state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2003      NaN   NaN
frame2 =        Ohio  Nevada
2001   1.7     2.4
2002   NaN     2.9

#### Index Objects in pandas
| Class | Description |
| --- | --- |
| Index | The most general index object, representing axis labels in a NumPy array of Python Objects. |
| Int64Index | Specialize Index for integer values |
| MultiIndex | 'Hierachical' index object representing multiple levels of indexing on a single axis. Can be thought of as similar to an array of tuples |
| DatetimeIndex | Stores nanosecond timestamps (NumPy's datetime64 dtype). |
| PeriodIndex | Specialized Index for Period data (timespans) |

#### Index methods and properties
| Method | Description |
| --- | --- |
| append | Concatenate with additional Index object, producing a new Index |
| diff | Compute set difference as an Index |
| intersection | Compute set intersection |
| union | Compute set union |
| isin | Compute boolean array indicating whether each value is contained in the passed collection |
| delete | Compute new Index with element at index i deleted |
| drop | Compute new Index by deleting passed values |
| insert | Compute new Index by inserting element at index i |
| is_monotonic | Return True if each element is greater than or equal to the previous element. |
| is_unique | Return True if the Index has no duplicate values |
| unique | Compute the array of unique values in the Index |
| reindex | Reindex series by expanding or truncating the index |

#### Reindexing

In [50]:
# reindex series
from pandas import Series, DataFrame
import pandas as pd
series = Series([4.5, 7.2, -5.3, 3.6], index=['d','b', 'a', 'c'])
print("Before reindex")
print("series.index = ", list(series.index))
print("series.values = ", series.values)
series = series.reindex(['a', 'b', 'c', 'd', 'e'])
print("After reindex")
print("series.index = ", list(series.index))
print("series.values = ", series.values)
print("series.drop('c')")
series = series.drop('e')
print("series.index = ", list(series.index))
print("series.values = ", series.values)

Before reindex
series.index =  ['d', 'b', 'a', 'c']
series.values =  [ 4.5  7.2 -5.3  3.6]
After reindex
series.index =  ['a', 'b', 'c', 'd', 'e']
series.values =  [-5.3  7.2  3.6  4.5  nan]
series.drop('c')
series.index =  ['a', 'b', 'c', 'd']
series.values =  [-5.3  7.2  3.6  4.5]

In [77]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
data = DataFrame(np.arange(16).reshape((4, 4)), index = ['Ohio', 'Colorado', 'Utah', 'New York'], columns = (['one', 'two', 'three', 'four']))
print("data = ", data)
#drop rows
print("data.drop(['Colorado','Ohio']) = ", data.drop(['Colorado','Ohio']))
#drop columns
print("data.drop(['two','four'], axis = 1) = ", data.drop(['two','four'], axis = 1))

data =            one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
data.drop(['Colorado','Ohio']) =            one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15
data.drop(['two','four'], axis = 1) =            one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [98]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
df = DataFrame(np.arange(16).reshape((4, 4)), index = ['Ohio', 'Colorado', 'Utah', 'New York'], columns = (['one', 'two', 'three', 'four']))
print("df = ", df)

print("df.loc['Colorado']", df.loc['Colorado']) 
print("df.loc[['Ohio', 'Colorado']][['one', 'three']]", df.loc[['Ohio', 'Colorado']][['one', 'three']]) 
print("df['three']", df['three'])

df =            one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
df.loc['Colorado'] one      4
two      5
three    6
four     7
Name: Colorado, dtype: int32
df.loc[['Ohio', 'Colorado']]           one  three
Ohio        0      2
Colorado    4      6
df['three'] Ohio         2
Colorado     6
Utah        10
New York    14
Name: three, dtype: int32

#### Observation 
1. select a list of rows we should use loc method with a list of row id.
2. if we only select one row it return a distionary with column : value

#### Arithmetic and data alignment

arithmetic methods
| Method | Description |
| --- | --- |
| add | Method for addition(+) |
| sub | Method for substraction(-) |
| div | Method for division(/) |
| mul | Method for multiplication(*) |

In [101]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

# add two data frames
df1 = DataFrame(np.arange(9).reshape(3,3), columns=list("bcd"), index=['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12).reshape(4,3), columns=list("bde"), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print('df1 = ', df1)
print('df2 = ', df2)
print('df1 + df2 = ', df1 + df2)
print("df1.add(df2, fill_value=0)", df1.add(df2, fill_value=0))

df1 =            b  c  d
Ohio      0  1  2
Texas     3  4  5
Colorado  6  7  8
df2 =          b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11
df1 + df2 =              b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN
df1.add(df2, fill_value=0)             b    c     d     e
Colorado  6.0  7.0   8.0   NaN
Ohio      3.0  1.0   6.0   5.0
Oregon    9.0  NaN  10.0  11.0
Texas     9.0  4.0  12.0   8.0
Utah      0.0  NaN   1.0   2.0

#### Observation 
1. If we want to do arithemtic operations on two data frame, we should use fill_value

#### Function application and mapping

In [115]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
def f(x) :
    return Series([x.min(), x.max()], index=['min', 'max'])
df = DataFrame(np.arange(12).reshape(4,3), columns=list("bde"), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print("Before function")
print(df)
df2 = df.apply(f)
print("")
print("After function")
print(df2)
print("f = lambda x : x.max() - x.min()")
print("df.apply(f)")
df3 = df.apply(f)
print(df3)

Before function
        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

After function
     b   d   e
min  0   1   2
max  9  10  11
f = lambda x : x.max() - x.min()
df.apply(f)
     b   d   e
min  0   1   2
max  9  10  11

#### Sort and Ranking

In [136]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
frame = DataFrame({'b' : [4, 7, -3, -2], 'a' : [0, 1, 0, 1]}, index=[0,1,2,3])
print("frame =", frame)
frame = frame.sort_index(axis = 1)
print("frame.sort_values(by=['a', 'b'])", frame.sort_values(by=['a', 'b']))
frame['rank_a'] = frame['a'].rank()
frame['rank_b'] = frame['b'].rank(method='max')
print(frame)

frame =    b  a
0  4  0
1  7  1
2 -3  0
3 -2  1
frame.sort_values(by=['a', 'b'])    a  b
2  0 -3
0  0  4
3  1 -2
1  1  7
   a  b  rank_a  rank_b
0  0  4     1.5     3.0
1  1  7     3.5     4.0
2  0 -3     1.5     1.0
3  1 -2     3.5     2.0

#### handle NaN data
| Method | Description |
| --- | --- |
| dropna | Filter axis labels based on whether values for each label having missing data, with varying thresholds for how much missing data to tolerate. |
| fillna | Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'. |
| isnull | return boolean values indicating which values are missing N/A. |
| notnull | Negation of isnull |

In [159]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from numpy import NaN
data = DataFrame([[1.0, 6.5, 3.0], [1.0, NaN, NaN], [NaN, NaN, NaN], [NaN, 6.2, 3.0]])
print("data = ", data)
print("data.dropna():\n", data.dropna())
print("data.dropna(how='all'):\n", data.dropna(how='all'))
print("data.dropna(thresh=2):\n", data.dropna(thresh=2))
print("data.fillna(0):\n", data.fillna(0))

data =       0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.2  3.0
data.dropna():
      0    1    2
0  1.0  6.5  3.0
data.dropna(how='all'):
      0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.2  3.0
data.dropna(thresh=2):
      0    1    2
0  1.0  6.5  3.0
3  NaN  6.2  3.0
data.fillna(0):
      0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.2  3.0